* {
  box-sizing: border-box;
}

.container {
  padding-top: 20px;
}

.baskets-wrap {
  padding-top: 40px;
}

.baskets {
  display: flex;
  align-items: stretch;
  height: 150px;
}

.basket {
  position: relative;
  border: 1px solid black;
  width: 35px;
  border-radius: 0% 0% 35px 35px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 5px 0;
}

.basket:not(:last-child) {
  margin-right: 10px;
}

.ball {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 6px;
}

.basket.active .ball:last-child {
  position: absolute;
  top: -30px;
  margin-top: 0;
}

.win {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-size: 36px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.revert {
  padding: 5px;
  font-size: 36px;
  cursor: pointer;
}